body {
	margin: 0 auto;
	color: black;
}

div {
	/*border: 1px solid black;*/
}

a {
	color: black;
}

section {
	width: 50%;
	min-width: 520px;
	margin: 0 auto;
}

h1 {
	font-family: 'Cairo', sans-serif;
 	font-size: 4.8rem;
 	font-weight: 200;
}

h1 a {
	text-decoration: none;
}

h2 {
	font-family: sans-serif;
	font-size:1.2rem;
	font-weight: 600;
}

h3 {
	font-family: sans-serif;
	font-size:0.8rem;
	color: #888888;
}

h3 a {
	color: #888888;
}

p {
 	font-family: sans-serif;
 	font-size: 1.2rem;
 	color: #444444;
 	font-weight: 300;
 }

p a {
 	color: #444444;
 }

@media screen and (max-width: 1200px) {
	section {
		width: 75%;
	}
	h1 {
 		font-size: 2.4rem;
 		display: inline-block;
 	}
 	h2 {
 		font-size: 1.2rem;
 	}
 	p {
 		font-size: 1.0rem;
 	}
 	svg {
 		height:30px;
 	}
}


/*HERO*/

#section_hero {
	height: 40%;
	width: 100%;
	background-color: #DDDDDD; /*#85BDCC*/
	display: flex;
}

#section_hero div {
	width: 50%;
	margin: auto;
	margin-left: 25%;
}

@media screen and (max-width: 1200px) {
	#section_hero {
		height: 25%;
	}
	#section_hero div {
		width: 75%;
		margin-left: 12.5%;
	}
}

#section_hero h1 {
	margin: 0 auto;
}

/*LINKS*/

#section_links {
	display: flex;
	min-height: 4.2rem;
	width: 100%;
	background-color: #EEEEEE;
}

#section_links div {
	margin: auto;
	text-align: center;
}

#section_links div div {
	padding: 0;
	display: inline-block;
	min-width: 6.4rem;
}

#section_links div div a p {
	font-size: 1.0rem;
}

/*PROJECTS*/

#section_projects ul {
	list-style: none;
    padding-inline-start: 0rem;
}

#section_projects li {
	border-bottom: 0.5px solid #EEEEEE;
}

#section_projects li:last-child {
	border-bottom: none;
}

#section_projects li div {
	padding: 1.8rem;
    transition: padding-right 0.3s;
}

#section_projects li div:hover {
	background-color: #EEEEEE;
    transition: padding-right 0.3s;
	padding-right: 0rem;
}

#section_projects li h2 {
	display: inline-block;
}

#section_projects li svg {
	display: inline-block;
	float: right;
	padding-top: 1.2rem;
	padding-right: 1.6rem;
}

#section_projects li svg:hover {

}

/*MENTIONS*/

#section_mentions {
	width: 100%;
	border-top: 1px solid #888888;
}

#section_mentions div {
	height: 4rem;
	text-align: center;
}

#section_mentions div h3 {
	line-height: 4rem;
}

